body{
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
}
.Gridey{
    
    background-color: gray;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item{
    background-color: chocolate;
    text-align: center;
    padding: 30px;
    margin: 10px;

}